<div class="footer-distributed">

    <div class="footer-right">
        <?php

        Logged in as <a id="loggedas" href="../users/viewAdmin.php">Admin</a>
        <a id="logg" href = "../users/viewLogin.php">Login</a>
    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="../movies/viewShowAllMovies.php">Movies</a>
            &#8231;
            <a href="../users/myProfile.php">Movies</a>
            &#8231;
            <a href="#">Actors</a>
            &#8231;
            <a href="../movies/viewShowGenres.php">Show all genres</a>
            &#8231;
            <a href="../users/viewContact.php">Contact Us</a>
        </p>
        <hr id="fhr">

        <p>Project work &copy; 2019</p>
    </div>

</div>
